.card__title {
  width: 100%;
  max-height: 86px;
  padding: 0;
  margin: 12px 0 16px;

  font-size: 26px;
  line-height: 115%;
  font-family: Roboto Slab, sans-serif;
  font-style: normal;
  font-weight: normal;

  overflow-wrap: break-word;
  overflow: hidden;


  color: #1A1B22;
}
@media (min-width: 768px) and (max-width: 1440px) {
  .card__title {
    font-size: calc(22px + (100vw - 768px) *  (26 - 22)  /  (1440 - 768));
    max-height: calc((22px + (100vw - 768px) *  (26 - 22)  /  (1440 - 768)) * 3 * 1.15 + 12px + 16px);
  }
}

@media (max-width: 767px) {
  .card__title{
font-size: 22px;
    max-height: calc(3 * 22px + 12px )
  }
}

@media (max-width: 320px) {
  .card__title{
    margin: 10px 0 10px;
  }
}


