.header__logo {
  grid-area: header__logo;
  padding-left: 104px;
  padding-top: 30px;
/********************************************/
/*  border-color: rgb(19, 18, 18);
  border-style: solid;
  border-width: thin;*/
/********************************************/
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header__logo {
    padding-left: calc(40px + (100vw - 768px) *  (104 - 40)  /  (1440 - 768));
    padding-top: calc(22px + (100vw - 768px) *  (30 - 22)  /  (1440 - 768));
  }
}
@media (min-width: 320px) and (max-width: 767px) {
  .header__logo {
    padding-left: calc(16px + (100vw - 320px) *  (40 - 16)  /  (767 - 320));
    padding-top: calc(16px + (100vw - 320px) *  (22 - 16)  /  (767 - 320));
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    height: calc(56px + (100vw - 320px) *  (66 - 56)  /  (767 - 320) - (16px + (100vw - 320px) *  (22 - 16)  /  (767 - 320)));
  }
}

@media (max-width: 319px) {
  .header__logo {
    padding-left: 16px;
    padding-top: 16px;
    box-shadow: inset 0 -1px 0 rgba(255, 255, 255, 0.2);
    height: 40px;
  }
}
