.popup__button {
  width: 100%;
  height: 64px;
  border-radius: 32px;
border-style: none;

  margin-top: 20px;

  background-color: #E6E8EB;


  outline-style: none;

  color: #B6BCBF;
  font-family: Roboto sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;

}
@media (max-width: 319px) {
  .popup__button  {
    width: 248pxpx;
  }
}
