.header__container {
  position: absolute;
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  max-width: 1440px;
}

@media (min-width: 1441px) {
  .header__container {
    height: 82px;
    margin-left: calc((100vw - 1440px) / 2);
  }
}

@media (min-width: 768px) {
  .header__container {
    grid-template-areas: "header__logo header__item_main header__item_auth"
  }
}

@media (max-width: 767px) {
  .header__container {
    grid-template-rows: auto 72px 72px auto;
    grid-template-areas:  "header__logo           header__mobile-control"
                          "header__item_main      header__item_main"
                          "header__item_saved     header__item_saved"
                          "header__item_auth      header__item_auth";
  }
}

@media (max-width: 320px) {
  .header__container {
    width: 320px;
  }
}



