.header__container {
  display: grid;
  grid-template-columns: 1fr auto;
  width: 100%;
  height: 100%;
  max-width: 1440px;
  margin: 0 auto;

}
@media (min-width: 768px) {
  .header__container {

    grid-template-areas: "header__logo header__item_main header__item_saved  header__item_auth";
  }
}

@media (max-width: 767px)  {
  .header__container {
    grid-template-areas:  "header__logo        header__logo      header__mobile-control"
                          "header__item_main header__item_main        header__item_main"
                          "header__item_saved  header__item_saved       header__item_saved"
                          "header__item_auth  header__item_auth     header__item_auth";
  }
}





