.header__auth {
  background-color: #ff00b7;

}
@media (max-width: 320px) {
  .header__auth{

    height: 102px;
  }
  /* переходим на бутерброд !!!!!!!!!!!!*/
}

@media (min-width: 321px) and (max-width: 768px) {
  .header__auth {

    height: 102px;

  }
}
