.header__container_personal{
}

@media (min-width: 768px) {
  .header__container {
        grid-template-areas: "header__logo header__item_main header__item_saved  header__item_auth";
  }
}

@media (max-width: 767px) {
  .header__container {
        grid-template-rows: auto 72px 72px auto;
        grid-template-areas:  "header__logo           header__mobile-control"
                              "header__item_main      header__item_main"
                              "header__item_saved     header__item_saved"
                              "header__item_auth      header__item_auth";
  }
}

@media (max-width: 320px) {
  .header__container {
    width: 320px;
  }
}






