.popup__close {
  width: 40px;
  height: 40px;
  position: absolute;
  top: -40px;
  right: -40px;
  cursor: pointer;

  background-image: url(../../../images/header/menu-close_white.svg);
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 24px;
  outline-style: none;
  border: none;
}


@media (max-width: 536px) {
  .popup__close {
    top: -48px;
    right: 10px;

  }
}
.popup__close :hover {
  opacity: 0.7;
}
