.main{
  align-items: flex-start;
  background-image: url(../../images/search-section/search-section_background.jpg);

  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  height: 40vw;
  justify-content: space-between;
  max-height: 576px;
  position: relative;
  width: 100%;
  z-index: 1;
  margin: -80px auto auto;
}
/*
src/images/search-section/search-section_background.jpg

<img src="../<%=require('./images/test.jpg').default%>">*/
@media (max-width: 320px) {
  .main {
    margin-top: -56px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .main {
    margin-top: calc(-56px - (100vw - 321px) * (66 - 56) / (768 - 321));
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .main {
    margin-top: calc(-66px - (100vw - 769px) * (80 - 66) / (1440 - 769));
  }
}
