.search__submit {
  width: 168px;
  border-radius: 32px;
  background-color: #2F71E5;
  border-width: 2px;
  border-color: rgba(255, 255, 255, 0);
  border-style: solid;


  font-family: Roboto Regular, sans-serif;
  font-style: normal;
  font-weight: 500;
  font-size: 18px;
  line-height: 133%;
  /* identical to box height, or  */


  text-align: center;

  /* main/white */

  color: #FFFFFF;

  outline-style: none;
}

.search__submit:focus {

  border-color: #367fff;

}
