.about__picture {
  margin: 0 0 auto 104px;



}

@media (min-width: 768px) and (max-width: 1440px) {
  .about__picture {

    margin-left: calc(40px + (100vw - 768px) *  (104 - 40)  /  (1440 - 768));



  }
}
/*
@media (min-width: 320px) and (max-width: 767px) {
  .about__photo {
    width: 232px;
    height: 232px;
    border-radius: 116px;
    margin-left: calc(24px + (100vw - 320px) *  (40 - 24)  /  (768 - 320));


  }
}*/

@media (min-width: 536px) and (max-width: 767px) {
  .about__picture {

    margin-left: calc(29px + (100vw - 536px) *  (31 - 29)  /  (767 - 536));




  }
}

@media (min-width: 320px) and (max-width: 535px) {
  .about__picture {

    margin-left: calc(10px + (100vw - 320px) *  (32 - 10)  /  (535 - 320));



  }
}








@media (max-width: 319px) {
  .about__picture {

  }
}
