.footer__item_social-links{
  display: flex;
justify-content: space-between;
  grid-area: footer__item_social-links;
  width: 68px;
margin-left: 60px;
  margin-right: 104px;
  padding-top: 32px;
  background-color: white;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .footer__item_social-links {
    margin-right: calc(40px + (100vw - 768px) *  (104 - 40)  /  (1440 - 768));
    padding-top: calc(25px + (100vw - 768px) *  (32 - 25)  /  (1440 - 768));
    padding-bottom: 16px;
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .footer__item_social-links {
    margin-left: 30px;
    margin-right: calc(16px + (100vw - 320px) * (40 - 16) / (767 - 320));
    padding-top: 32px;
    padding-bottom: 24px;

  }
}

@media (max-width: 319px) {
  .footer__item_social-links {
    margin-right: 5vw;
  }
}
