.search{
    position: relative;
  display: flex;
  align-items: flex-start;
  justify-content: space-between;
  width: 100vw;
  height: 576px;
  margin: 0 auto;
  background-image: url(../../images/search/background_large.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  z-index: 5;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .search {
    height: calc(400px + (100vw - 768px) *  (576 - 400)  /  (1440 - 768));
/*    margin-top: calc(-66px - (100vw - 769px) * (80 - 66) / (1440 - 769));*/
  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .search {
    height: 536px;
/*    margin-top: calc(-56px - (100vw - 321px) * (66 - 56) / (768 - 321));*/
  }
}

@media (max-width: 319px) {
  .search {
    width: auto;
    height: 536px;
    margin-top: -56px;
    background-image: url(../../images/search/background_small.png);
  }
}
