.form__message_user-exist {
  display: none;
  margin: 0;
  text-align: center;
  position: relative;
  height: 0;
  padding-bottom: 0;
}
@media (max-width: 536px) {
  .form__message_user-exist {
  height: auto;
  }
}
