.popup__content {
  width: 430px;
  height: 458px;
  /*

  max-width: 80vw;
  max-height: 80vh;
  */

  background-color: #fff;
  border-radius: 16px;
  position: relative;
  box-sizing: border-box;
  padding: 34px 36px;
  /*display: none;*/
}

@media screen and (max-width: 600px) {
/*  .popup__content {
    width: calc(100% - 60px);
  }*/
}
@media (min-width: 537px) and (max-width: 600px) {
  .popup__content {
    width: calc(380px + (100% - 537px) *  (430 - 380)  /  (600 - 537));

  }


}


@media (max-width: 536px) {
  .popup__content {
    width: 100vw;
    height: 100vh;
  }
}
