.header__logo-text {
  align-items: center;
  color: white;
  display: flex;
  font-family: Roboto Slab, sans-serif;
  font-size: 20px;
  font-style: normal;
  font-weight: bold;
  justify-content: center;
  line-height: 24px;
  margin-left: 104px;
  margin-top: 30px;
}

.header__logo-text:hover {
  opacity: 0.7;
}

@media (max-width: 320px) {
  .header__logo-text {
    font-size: 16px;
    margin-top: 16px;
    margin-left: 16px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header__logo-text {
    font-size: calc(16px + (100vw - 321px) * (20 - 16) / (768 - 321));
    margin-top: calc(16px + (100vw - 321px) * (23 - 16) / (768 - 321));
    margin-left: calc(16px + (100vw - 321px) *  (40 - 16)  /  (768 - 321));

  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .header__logo-text {
    margin-top: calc(23px + (100vw - 769px) * (30 - 23) / (1440 - 769));
    margin-left: calc(40px + (100vw - 769px) *  (104 - 40)  /  (1440 - 769));

  }
}
