.header__links {
  display: flex;
  justify-content: flex-end;
  align-items: baseline;
  font-family: Roboto Regular, sans-serif;
  font-size: 18px;
  font-style: normal;
  font-weight: bold;
  line-height: 24px;
  margin-right: 104px;
  text-align: left;
  height: 100%;

  background-color: #bbff00;
}

@media (max-width: 320px) {
  .header__links {
    font-size: 16px;
    margin-right: 16px;
    flex-direction: column;
    margin-left: 16px;
  }
}

@media (min-width: 321px) and (max-width: 768px) {
  .header__links {
    font-size: 16px;
    margin-right: calc(16px + (100vw - 321px) *  (40 - 16)  /  (768 - 321));
    flex-direction: column;
    margin-left: calc(16px + (100vw - 321px) *  (40 - 16)  /  (768 - 321));
  }
}

@media (min-width: 769px) and (max-width: 1440px) {
  .header__links {
    margin-right: calc(40px + (100vw - 769px) *  (104 - 40)  /  (1440 - 769));
    font-size: calc(16px + (100vw - 769px) *  (18 - 16)  /  (1440 - 769));

  }
}
