.about__container{
display: grid;
  grid-template-columns: auto 1fr;
  width: 1440px;
  height: auto;
  margin: 0 auto;
padding-top: 80px;
  padding-bottom: 80px;

}

@media (min-width: 768px) and (max-width: 1440px) {
  .about__container {
width: 100%;

    padding-top: calc(61px + (100vw - 768px) *  (80 - 61)  /  (1440 - 768));
    padding-bottom: calc(61px + (100vw - 768px) *  (80 - 61)  /  (1440 - 768));


  }
}

@media (min-width: 320px) and (max-width: 767px) {
  .about__container {
    width: 100%;
    grid-template-columns: 1fr;
    grid-template-rows: auto auto;
    padding-top: calc(32px + (100vw - 320px) *  (61 - 32)  /  (767 - 320));
    padding-bottom: calc(32px + (100vw - 320px) *  (61 - 32)  /  (767 - 320));


  }
}

@media (max-width: 319px) {
  .about__container {
    width: 100%;
    padding-top: 32px;
    padding-bottom: 32px;

  }
}
