.results__cards {
  display: grid;
  width: 1232px;
  grid-template-columns: 1fr 1fr 1fr ;
  grid-gap: 16px;
  justify-items: center;
  justify-self: stretch;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .results__cards {
    width: calc(688px + (100% - 768px) * (1232 - 688) / (1440 - 768));
    grid-gap: calc(8px + (100vw - 768px) *  (16 - 8)  /  (1440 - 768));
  }
}

@media (min-width: 536px) and (max-width: 767px) {
  .results__cards {
    width: calc(496px + (100vw - 536px) *  (688 - 496)  /  (767 - 536));
    grid-template-columns: 1fr 1fr;
    grid-gap: 12px;
  }
}

@media (max-width: 536px) {
  .results__cards {
    grid-template-columns: 1fr;
    grid-row-gap: 8px;
    width: 95%;
  }
}

