.card__text {

  font-family: Roboto Roboto Regular, sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 137%;
  width: auto;
  overflow: hidden;
  color: #1A1B22;
}
