.header {
  position: absolute;
  width: 100vw;
  border-color: transparent;
  border-bottom-color: rgba(255, 255, 255, 0.2);
  border-style: solid;
  border-width: thin;
  height: 82px;
  z-index: 10;
}

@media (min-width: 768px) and (max-width: 1440px) {
  .header {
    height: calc(66px + (100vw - 768px) * (80 - 66) / (1440 - 768));
  }
}

@media (max-width: 767px) {
  .header {

    padding-bottom: 400px;
    border: none;
  }
}

