.form__offer-button {
  position: relative;
  top: -1px;
  border: none;
  background-color: transparent;
  font-family: Inter, sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 14px;
  line-height: 17px;
  outline-style: none;
  color: #2F71E5;
}

.form__offer-button:hover {
  opacity: 0.7;
}
